<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.vivalnk.sdk.demo.base">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<application>

  <activity android:name="com.nbsp.materialfilepicker.ui.FilePickerActivity"
      android:theme="@style/MFP_BaseTheme">
  </activity>

  <activity android:name=".custom.DialogActivity"
    android:theme="@style/dialog_style">
  </activity>

</application>
</manifest>